#container{
    width: 1140px;
    
}

#blog-post-container{
    width: 75%;
    background-color: aquamarine;
}

#other-post{
    background-color: bisque;
    width: 25%;
}

.author-box{
    border: 1px solid red;
}